{{ header }}{{ column_left }}
{{ import_macros }}

{% import "extension/extension/tool/macros.twig" as forms %}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            
            <script>
                $(document).ready(function () {
                    console.log('sys_extension_menu_script');
                    if ('{{ sys_extension.menu.buttons.script_id }}' != '') {
                        $('[sys_extension_menu_script]').html('')
                        $.tmpl($('#{{ sys_extension.menu.buttons.script_id }}')).appendTo("[sys_extension_menu_script]");
                    } else if ($('#extension_menu_buttons_script').length > 0) {
                        $('[sys_extension_menu_script]').html('')
                        $.tmpl($('#extension_menu_buttons_script')).appendTo("[sys_extension_menu_script]");
                    }
                })
            </script>
            
            <div sys_extension_menu class="panel panel-default panel-heading pull-right sys_extension_menu_fixed">
                <div sys_extension_menu_script>
                    
                    {% if not eula and sys_extension.menu.buttons.setting_status %}
                        {{ forms.onoffswitch('setting_status',setting.status) }}                        
                    {% endif %}

                    <div class="btn-group">
                        <button but_save="" type="button" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="Button save" 
                                onclick="validateAjax() ? saveAjax() : false" >
                            <i class="fa fa-save"></i>
                        </button>
                        {% if not eula and sys_extension.menu.buttons.import and sys_extension.menu.buttons.export %}
                            <button module_menu_setting_button
                                    type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" module_menu_setting_li disabled=''>
                                {% if sys_extension.menu.buttons.import %}
                                    <li>
                                        <a href="{{ href.setting_import }}" style="cursor: pointer;"><i class="fa fa-download fa-fw" aria-hidden="true"></i> 
                                            {{ text_setting_import }}</a>
                                    </li>
                                {% endif %}
                                {% if sys_extension.menu.buttons.export %}
                                    <li>
                                        <a href="{{ href.setting_export }}" target="_blank" style="cursor: pointer;"><i class="fa fa-upload fa-fw" aria-hidden="true"></i> 
                                            {{ text_setting_export }}</a>
                                    </li>
                                {% endif %}
                            </ul>
                            {% if not eula and sys_extension.menu.buttons.cache_clear %}
                                <button but_save="" type="button" data-toggle="tooltip" title="" class="btn btn btn-warning" onclick="cacheClearAjax(this)" data-original-title="Очищення кеша">
                                    <i class="fa fa-eraser"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <a href="{{ href.cancel }}" data-toggle="tooltip" title="{{ text_button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>

            </div>
            <h1><a href="{{ text_url_site }}" target="_blank">{{ text_COPYRIGTHSHOW }}</a> {{ text_heading_name }}</h1>

            {{ forms.breadcrumbs(breadcrumbs) }}

            <div class="container-fluid">

                <div sys_notification></div>

                <div class="alert alert-danger alert-dismissible hide"><i class="fa fa-exclamation-circle"></i>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_store }}</h3> 
                        {% if stores %}
                            {{ forms.SelectStores(stores, store_id, module.path) }}
                            {{ checkUpDateModule }}                        
                        {% endif %}
                    </div>
                    <div class="panel-body">
                        {% if pagination or results %}
                            <div class="row">
                                {% if pagination %}<div class="col-sm-6 text-left">{{ pagination }}</div>{% endif %}
                                {% if results %}<div class="col-sm-6 text-right">{{ results }}</div>{% endif %}
                            </div>
                        {% endif %}
                        <form action="{{ href.action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">                              
                            {{ sys_module_view }}                    
                        </form>
                        {% if pagination or results %}
                            <div class="row">
                                {% if pagination %}<div class="col-sm-6 text-left">{{ pagination }}</div>{% endif %}
                                {% if results %}<div class="col-sm-6 text-right">{{ results }}</div>{% endif %}
                            </div>
                        {% endif %}
                        <div class="zamanuha">
                            <center> {{ text_zamanuha }} {{ text_COPYRIGTHSHOWLINK }}!</center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#                 
<script id="extension_menu_buttons_script" type="text/x-jQuery-tmpl">
    
    <div class="btn-group">
        <a href="{{ href_add }}" class="btn btn-primary" ><i class="fa fa-plus"></i></a>
        <button type="button" form="form-product" formaction="{{ href_del }}" onclick="confirm('Ви впевнені?') ? $('#form-product').submit() : false;" data-original-title="Видалити"><i class="fa fa-trash-o"></i></button>
                
    </div>
    
</script>               
#}    
<script>
    window['sys_module_code'] = '{{ module.code }}';
    window['sys_module_href_action'] = '{{ href.action }}';
    window['sys_module_href_validate'] = '{{ href.validate }}';
</script>   

{% if module_system_setting.module_translate and module_system_translate  %}
    {{ forms.addTabJsA1('tab_module_translate', '.panel-body', '<i class="fa fa-file-text text-primary sys_tab"></i> ' ~ text_tab_module_translate, 'module_translate', '') }}
    <script>
        $(document).ready(function () {
            $("#tab-module_translate").html($('[tab_module_translate]').html());
        })
    </script>
    <script tab_module_translate type="text/html">
        {{ module_system_translate }}
    </script>
{% endif %}

{% if module_system_setting.tab_system_info %}
    {{ forms.addTabJsA1('tab_module_system_info', '.panel-body', '<i class="fa fa-cogs text-primary sys_tab"></i> ' ~ text_tab_module_system_info, 'module_system_info', '') }}
    <script>
        $(document).ready(function () {
            $('#tab-module_system_info').load(sys_module_url + '/tab_module_system_info_ajax&user_token=' + getURLVarA('user_token') + '&module_system_info=' + getURLVarA('module_system_info'));
        });
    </script>
{% endif %}

{% if module_system_setting.sys_log_status %}
    {{ forms.addTabJsA1('tab_log', '.panel-body', '<i class="fa fa-log text-primary"></i> ' ~ text_tab_log, 'log', '') }}
{% endif %}

{% if module_system_setting.sys_cron_status %}
    {{ forms.addTabJsA1('tab_cron', '.panel-body', '<i class="fa fa-log text-primary"></i> ' ~ text_tab_cron, 'cron', '') }}
{% endif %}

{{ footer }}
{% if sys_extension.popap_modal %}
    <div class="modal fade" id="ModalТЕ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalТЕ_title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<script src="{{ SYS_HTTPS_SERVER }}view/javascript/newtik/common.js" type="text/javascript"></script>
<script src="{{ SYS_HTTPS_SERVER }}view/javascript/jquery/jquery.tmpl.min.js" type="text/javascript"></script>
<link href="{{ SYS_HTTPS_SERVER }}view/stylesheet/newtik/extension_common.css" rel="stylesheet" type="text/css"/>